Read+Django/music_app/music_controller/frontend/node_modules/
Read+Django/music_app/music_controller/frontend/static/frontend/main.js
Read+Django/music_app/music_controller/frontend/static/frontend/main.js.LICENSE.txt
Read+Django/music_app/music_controller/api/__pycache__
Read+Django/music_app/music_controller/music_controller/__pycache__

